# Ignore large dataset folders
ASNR-MICCAI-BraTS2023-GLI-Challenge-TrainingData/
ASNR-MICCAI-BraTS2023-GLI-Challenge-ValidationData/
BraTS2023_Augmented/
kaggle_3m/
LGG_Augmented/

# Ignore raw data files
*.nii
*.tif

# Keep only the split datasets
!BraTS2023_Split/
!LGG_Split/

# Ignore system files
.DS_Store
__pycache__/
